html, body {
    margin: 0;
    padding: 0;
}

/* PAGE HEADER */
section.window_header {
    height: 56px;
    box-sizing: border-box;
    font-size: 1.5em;
    padding: 15.5px;
    background: silver;
    vertical-align: middle;
    line-height: 100%;
}
